numpy==1.26.4
pandas==2.2.2
scipy==1.14.1
pyarrow==17.0.0
scikit-learn==1.5.1
lightgbm==4.5.0
joblib==1.4.2
cdsapi==0.7.3
xarray==2024.7.0
netCDF4==1.7.2
cfgrib==0.9.14.1
eccodes==2.38.0
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.24.1
streamlit==1.38.0
requests==2.32.3
python-dotenv==1.0.1
tqdm==4.66.5