streamlit>=1.31.0
pandas~=3.0.1
numpy~=1.26.4
matplotlib~=3.9.2
seaborn
scikit-learn~=1.5.1
xgboost
joblib~=1.4.2
plotly
altair<5.0.0
requests~=2.33.1
xarray~=2023.6.0
tqdm~=4.67.3
lightgbm~=4.6.0
cdsapi~=0.7.7